#img {
   text-align: center;
}

#table {
    border-radius: 20px;
}

.image-row {
    display: flex;
    justify-content: space-evenly 30px;
}

.tb1 {
    background-color: antiquewhite;
}

.tb2 {
    background-color: coral;
}

