#img {
   text-align: center;
}

#table {
    border-radius: 20px;
}

#img-tb1 {
    position: relative;
    border: 10px;
    border-width: 15px;
    border-style: groove;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
}

#food-txt {
    position: absolute;
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 100px;
}

#img-tb2 {
    position: relative;
    border: 10px;
    border-width: 15px;
    border-style: groove;
    float: right;
    margin-right: 50px;
    margin-top: 600px;
}

#drinks-txt {
    position: absolute;
    margin-right: 600px;
    margin-left: 300px;
    margin-top: 700px;
    text-align: right;
}

#fd-jpg {
    position: relative;
    top: 0;
    left: 0;
}

#tble-jpg {
    position: absolute;
    top: 1980px;
    left: 300px;
    background-color: aliceblue;
}

.image-row {
    display: flex;
    justify-content: space-evenly 30px;
    margin-left: 50px;
    flex-grow: inherit;
}

.tb1 {
    background-color: antiquewhite;
}

.tb2 {
    background-color: coral;
}

.parent {
    display: table;
    clear: both;
}

.txt1 {
    float: left;
    margin-left: 100px;
    border-width: 10px;
    margin-right: 50px;
}

.txt2 {
    margin-right: 400px;
}

.selector {
    position: relative;
}

.sele {
    position: absolute;
    top: 2850px;
    left: 550px;
}

.hapy {
    color: rgb(255, 98, 0);
}

.end {
    background-color: rgb(255, 119, 0);
    text-align: center;
    color: #ffffff;
}

.logo {
    color: #ffffff6a;
}