#img {
   text-align: center;
}

#table {
    border-radius: 20px;
}

#img-tb {
    position: relative;
    border: 10px;
    border-width: 15px;
    border-style: groove;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
}

#food-txt {
    position: absolute;
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 100px;
}

.image-row {
    display: flex;
    justify-content: space-evenly 30px;
    margin-left: 50px;
    flex-grow: inherit;
}

.tb1 {
    background-color: antiquewhite;
}

.tb2 {
    background-color: coral;
}

